<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<main class="cart_table">
		<table th:replace="cartItem"></table>
		<form action="/order">
			<div th:if="${@cart.items.size()}==0"  style="color:red" class="errar">カートの中身が空です</div>
			<button class="order-btn" th:disabled="${@cart.items.size()}==0">注文する</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>