<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">


</head>

<body>
	<header th:replace="header"></header>

	<div class="wrap">
		<div class="side">
			<div class="side_content" style="display: inline;">
				<form action="/items" method="get" class="search_container">
					<input type="text" name="keyword" th:value="${keyword}" placeholder="商品名">
					<input type="submit">
				</form>
				<a href="/items" class="allItem">・全商品</a><br>
				<p class="type-word">・種類</p>
				<block th:each="t:${type}">
					<a th:href="@{/items(type=${t.id})}" class="category-type">
						<span th:if="${t.type == 1}" style="padding-left:10px;">ヘッドホン</span>
						<span th:if="${t.type == 2}" style="padding-left:10px;">イヤホン</span>
					</a><br>
				</block>
				<p class="brand-word">・ブランド</p>
				<block th:each="b:${brands}">
					<a th:href="@{/items(brandId=${b.id})}" class="category-brand">
						<span th:text="${b.brand}" style="padding-left:10px;"></span>
					</a><br>
				</block>
				<p class="codec-word">・コーデック</p>
				<block th:each="c:${codec}">
					<a th:href="@{/items(codecId=${c.id})}" class="category-codec">
						<span th:text="${c.codec}" style="padding-left:10px;"></span>
					</a>
					<br>
				</block>
			</div>
		</div>
		<div class="main">
			<h1>Item</h1>
			<hr>
			<div class="container">
				<div class="carousel">
					<input type="radio" id="carousel-1" name="carousel[]" checked>
					<input type="radio" id="carousel-2" name="carousel[]">
					<input type="radio" id="carousel-3" name="carousel[]">
					<input type="radio" id="carousel-4" name="carousel[]">
					<input type="radio" id="carousel-5" name="carousel[]">
					<ul class="carousel__items">
						<li class="carousel__item"><img src="/slide.img/Panasonic.jpg" alt=""></li>
						<li class="carousel__item"><img src="/slide.img/SONY2.jpg" alt=""></li>
						<li class="carousel__item"><img src="/slide.img/JBL.jpg" alt=""></li>
						<li class="carousel__item"><img src="/slide.img/AudioTechnica.jpg" alt=""></li>
						<li class="carousel__item"><img src="/slide.img/Zenhaizer.jpg" alt=""></li>
					</ul>
					<div class="carousel__prev">
						<label for="carousel-1"></label>
						<label for="carousel-2"></label>
						<label for="carousel-3"></label>
						<label for="carousel-4"></label>
						<label for="carousel-5"></label>
					</div>
					<div class="carousel__next">
						<label for="carousel-1"></label>
						<label for="carousel-2"></label>
						<label for="carousel-3"></label>
						<label for="carousel-4"></label>
						<label for="carousel-5"></label>
					</div>
					<div class="carousel__nav">
						<label for="carousel-1"></label>
						<label for="carousel-2"></label>
						<label for="carousel-3"></label>
						<label for="carousel-4"></label>
						<label for="carousel-5"></label>
					</div>
				</div>
			</div>
			<div class="items">
				<div th:each="i:${items}" class="item">
					<div style="display: inline;">
						<div class="sample2">
							<img th:src="'/item.img/'+${i.id}+'.jpg'" class="item-image"><br>
							<div class="mask">
								<div class="caption">[(${i.describe})]</div>
							</div>
						</div>
						<a th:each="b:${brands}"><span th:if="${b.id == i.brandId}" th:text="${b.brand}"></span></a>
						<a th:text="${i.name}"></a><br>
						<a>コーデック/</a><a th:each="c:${codec}"><span th:if="${c.id == i.codecId}"
								th:text="${c.codec}"></span></a><br>
						<a td th:text="${i.price}"></a><a>円</a>
						<form action="/cart/add" method="post">
							<input type="hidden" name="itemId" th:value="${i.id}">
							<button>カートに追加</button>
						</form>
						<form action="/review" method="get">
							<input type="hidden" name="itemId" th:value="${i.id}">
							<button>レビュー</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>





	<!--<nav>
		<div class="side">
			<div class="side_content">
				<p>・ブランド
					<a th:each="b:${brands}" th:href="@{/items(brandId=${b.id})}">
						<span th:text="${b.brand}" style="padding-left:10px;"></span></a>
				</p>
				<p>・オーディオコーデック
					<a th:each="c:${codec}" th:href="@{/items(codecId=${c.id})}">
						<span th:text="${c.codec}" style="padding-left:10px;"></span>
					</a>
				</p>
			</div>
		</div>
	</nav>
	<main>

		<h1>Item</h1>
		<hr>

		<div class="items">
			<div th:each="i:${items}" class="item">
				<div style="display: inline;">
					<img th:src="'/item.img/'+${i.id}+'.jpg'" class="item-image"><br>
					<a th:each="b:${brands}"><span th:if="${b.id == i.brandId}" th:text="${b.brand}"></span></a>
					<a th:text="${i.name}"></a><br>
					<a>コーデック/</a><a th:each="c:${codec}"><span th:if="${c.id == i.codecId}"
							th:text="${c.codec}"></span></a><br>
					<a td th:text="${i.price}"></a><a>円</a>
					<form action="/cart/add" method="post">
						<input type="hidden" name="itemId" th:value="${i.id}">
						<button>カートに追加</button>
					</form>
					<form action="/review" method="get">
						<input type="hidden" name="itemId" th:value="${i.id}">
						<button>レビュー</button>
					</form>
				</div>
			</div>
		</div>-->
	<!--<div class="items">
			<div th:each="i:${items}" class="item">
				<table border="1" style="display: inline;">
					<tr>
						<th>No</th>
						<th>ブランド名</th>
						<th>オーディオコーデック</th>
						<th>商品名</th>
						<th>値段</th>
					</tr>
					<tr>
						<td th:text="${i.id}"></td>
						<td>
							<p th:each="b:${brands}"><span th:if="${b.id == i.brandId}" th:text="${b.brand}"></span></p>
						</td>
						<td>
							<p th:each="c:${codec}"><span th:if="${c.id == i.codecId}" th:text="${c.codec}"></span></p>
							</th>
						<td th:text="${i.name}"></td>
						<td th:text="${i.price}">
							</th>
					</tr>
					<tr>
						<td colspan="5"><img src="itemsImage.jpg" class="logo"></td>
					</tr>
				</table>
				<form action="/cart/add" method="post">
					<input type="hidden" name="itemId" th:value="${i.id}">
					<button>カートに追加</button>
				</form>
				<form action="/review" method="get">
					<input type="hidden" name="itemId" th:value="${i.id}">
					<button>レビュー</button>
				</form>
			</div>

		</div>-->



	<!--<table border="1">
			<tr>
				<th>No</th>
				<th>ブランド名</th>
				<th>オーディオコーデック</th>
				<th>商品名</th>
				<th>値段</th>
			</tr>
			<tr th:each="i:${items}">
				<td th:text="${i.id}"></td>
				<td>
					<p th:each="b:${brands}"><span th:if="${b.id == i.brandId}" th:text="${b.brand}"></span></p>
				</td>
				<td>
					<p th:each="c:${codec}"><span th:if="${c.id == i.codecId}" th:text="${c.codec}"></span></p>
				</td>
				<td th:text="${i.name}"></td>
				<td th:text="${i.price}"></td>
				<td>
					<form action="/cart/add" method="post">
						<input type="hidden" name="itemId" th:value="${i.id}">
						<button>カートに追加</button>
					</form>
				</td>
				<td>
					<form action="/review" method="get">
						<input type="hidden" name="itemId" th:value="${i.id}">
						<button>レビュー</button>
					</form>
				</td>
			</tr>
		</table>-->


	</main>
	<header th:replace="footer"></header>
</body>

</html>