<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>レビュー</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="review">
	<header>
		<img src="/Audio Shopping.png" class="logo"><br>
		<h1>Audio Shopping</h1>
	</header>
	<p><span th:text="${message}" style="color:red" class="errar"></span></p>

	<h1 class="old-review-word">・これまでのレビュー</h1>
	<div th:if="reviews">
		<form th:unless="${#lists.size(reviews)}==0">
			<table border="1" style="margin: auto;" class="table-review">
				<tr>
					<th>商品番号</th>
					<th>タイトル</th>
					<th>内容</th>
					<th>評価</th>
					<th>投稿日</th>
				</tr>
				<tr th:each="r:${reviews}">
					<td th:text="${r.itemId}"></td>
					<td th:text="${r.title}"></td>
					<td th:text="${r.report}"></td>
					<td th:text="${r.score}"></td>
					<td th:text="${r.reviewDay}"></td>
				</tr>

			</table>
		</form>
	</div>
	<a href="/items" class="back">商品一覧へ</a>

	<form action="/add/review" method="post">
		<input type="hidden" name="itemId" th:Value="${itemId}">
		<ul>
			<li th:each="_msg : ${msg}" th:text="${_msg}" style="color:red; list-style: none;" class="errar"></li>
		</ul>
		<div  class="itemNumber">
			<a>商品番号</a>
		<a th:text="${itemId}"></a>
		</div>
		<hr class="Form-border">
		<div>
			<a class="Review-Item-Label">必須</a>
			<a class="Review-Item-title">タイトル</a>
			<p><input type="text" name=title class="Form-Item-Input"></p>
			<hr class="Form-border">
			<a class="Review-Item-Label">必須</a>
			<a class="Review-Item-title">内容</a>
			<p><textarea name="report" class="Form-Item-Textarea"></textarea></p>
			<hr class="Form-border">
			<a class="Review-Item-Label">必須</a>
			<a class="Review-Item-title">評価</a>
			<p><input type="number" name="score" placeholder="十段階で評価してください" class="Form-Item-Input"></p>
			<hr class="Form-border">
		</div>

		<button class="Form-Btn">登録</button>
	</form>
	<hr>



	<!--<form action="/add/review" method="post">
		<hr>
		<table border="1" style="margin: auto;">
			<tr>
				<th>商品番号</th>
				<th>タイトル</th>
				<th>内容</th>
				<th>評価(10段階)</th>
			</tr>
			<tr>
				<td th:text="${itemId}"></td>
				<td><input type="text" name=title></td>
				<td><textarea name="report"></textarea></td>
				<td><input type="number" name="score"></td>
			</tr>

		</table>
		<button>登録</button>

	</form>-->

</body>

</html>